*{
    box-sizing: border-box; 
    margin: 0; 
    padding:0; 
    font-family: operetta-18, serif;
    
}


.owl{
    height: 711px;
    width: 600px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(#F6F5FB);
}
::-webkit-scrollbar-thumb {
    background: var(--teal);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}