@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  font-family: operetta-12, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  --top-spacing: 100px;
  scroll-padding-top: var(--top-spacing);
}

.body{ 
  margin: var(--top-spacing) auto;

  max-width: 400px;
  padding: 0 20px;
  font-family: operetta-12, serif;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(#F6F5FB);
}
::-webkit-scrollbar-thumb {
  background: var(--teal);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}