@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  font-family: operetta-12, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
   background-color: #F6F5FB; 
  /* background-image: url('./pages/landing-page/img/animated-background.svg'); */
  /* background-image: url(../static/login-bg.jpg); */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #2B32BE;
}

a:hover{
  color: #FB793F;
  text-decoration: none;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}

html{
  --top-spacing: 100px;
  scroll-padding-top: var(--top-spacing);
}

.body{ 
  margin: var(--top-spacing) auto;
  
  max-width: 400px;
  padding: 0 20px;
  font-family: operetta-12, serif;
  font-size: 20px;
  
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(#F6F5FB);
}
::-webkit-scrollbar-thumb {
  background: var(--teal);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

p{
  font-size: 20px;
}

p.paragraph-text{
  margin-top: 30%;
  color: white;
  font-size: 20px;
}

.about-title{
  margin-top: 30%;
}
/* Section 1 */

/* Columns  */
/* display: grid is changing the behavior of the .hero element to be a grid container.
 That means the elements inside .hero are now grid items. */
.hero{ 
  /* background: url('./pages/landing-page/img/background1.png'); */
 margin-top: -6%;
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
   /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
  automatically the size of the track, based on the width of the viewport,
   */
   
   /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.owl{
  height: 80%;
  width: 70%;
}

h1{
  color: #2B32BE; 
  font-size: 50px;
  font-style: bold;
  font-weight: 900;

}
h1.main-title{
  color: #2B32BE; 
  font-size: 40px;
  font-style: bold;
  font-weight: 900;
  text-align: left;
  margin-left: 20%;
}

.button-text{
  font-weight: bold;
  color: #2B32BE;
}

/* About section */
.hero2{ 
  background: url('./pages/landing-page/img/slide2.png'); 
 /* margin-top: -6%; */
 /* background-color: red; */
  margin-top: -21%;
  background-size: 100%;
   /* Background image is centered vertically and horizontally at all times */
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
/* Background image is fixed in the viewport so that it doesn't move when 
the content's height is greater than the image's height */
  height: 520px;
 /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #F6F5FB;
 /* height: 550px; */
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
   /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
  automatically the size of the track, based on the width of the viewport,
   */
   /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.section-title{ 
  color: #2B32BE; 
  font-size: 40px;
  font-style: bold;
  font-weight: 900;
}

/* How it works section*/
/* About section */
.hero3{ 
  /* background: url('./pages/landing-page/img/background1.png'); */
 /* margin-top: -6%; */
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
   /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
  automatically the size of the track, based on the width of the viewport,
   */
   
   /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.center-text{
  text-align: center;
}

/* Subject Track Section */
.track{ 
  width: 500px;
  height: 350px;
}

.hero4{ 
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
   /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
  automatically the size of the track, based on the width of the viewport,
   */
   
   /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero5{ 
  margin-top: -5%;
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
   /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
  automatically the size of the track, based on the width of the viewport,
   */
   
   /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.grow-img{
  transition: 1s ease;
}

.grow-img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }

.discord{
    background-size: cover;
  padding: 2rem 5rem;

  /* Grid styles display: flexbox;*/
  
  align-items: center;
   /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
  automatically the size of the track, based on the width of the viewport,
   */
   
   /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 450px; 
  height:200px;
  cursor: pointer;
}
  @media (max-width: 1062px) {
    .track{ 
      width: 300px;
      height: 200px;
    }
    .steps{
      width: 300px;
      height: 400px;
    }
  }
  @media (max-width: 946px) {

    .steps{
      width: 250px;
      height: 300px;
    }
    .hero2{ 
      background: url('./pages/landing-page/img/medium.png'); 
      margin-top: -21%;
      background-size: 100%;
       /* Background image is centered vertically and horizontally at all times */
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 520px;
      /* Set a background color that will be displayed
          while the background image is loading */
       background-color: #F6F5FB;
      /* height: 550px; */
       background-size: cover;
       padding: 4rem 2rem;
     
       /* Grid styles */
       display: grid;
       align-items: center;
        /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
       automatically the size of the track, based on the width of the viewport,
        */
        /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
  }

  @media (max-width: 671px) {
    .hero2{ 
      background: url('./pages/landing-page/img/671.png'); 
      margin-top: -21%;
      background-size: 100%;
       /* Background image is centered vertically and horizontally at all times */
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 604px;
      /* Set a background color that will be displayed
          while the background image is loading */
       background-color: #F6F5FB;
      /* height: 550px; */
       background-size: cover;
       padding: 4rem 2rem;
     
       /* Grid styles */
       display: grid;
       align-items: center;
        /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
       automatically the size of the track, based on the width of the viewport,
        */
        /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
    p.paragraph-text{
      margin-top: 60%;
      color: white;
      font-size: 20px;
    }
    img.owl{
      height: 300px;
      width: 250px;
    }
    h1{
      font-size: 40px;
    }
    img.steps.step3{
      align-items: center;
      margin-left: 45%;
    }
    .about-title{
      color: white;
      margin-top: 30%;
    }
    .hero5{ 
      margin-top: -22%;
    }
    h1.section-title.center-text{
      margin-top: 5%;
    }
    .track{ 
      width: 250px;
      height: 200px;
    }
  }

  @media (max-width: 773px) {

    img.steps.step3{
      align-items: center;
      margin-left: 65%;
    }
  }
  @media (max-width: 540px) {
    .track{ 
      width: 350px;
      height: 260px;
    }
    img.steps.step3{
      align-items: center;
      margin-left: 0%;
    }
    .hero2{ 
      background: url('./pages/landing-page/img/mobile.png'); 
      margin-top: -21%;
      background-size: 100%;
       /* Background image is centered vertically and horizontally at all times */
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 520px;
      /* Set a background color that will be displayed
          while the background image is loading */
       background-color: #F6F5FB;
      /* height: 550px; */
       background-size: cover;
       padding: 4rem 2rem;
     
       /* Grid styles */
       display: grid;
       align-items: center;
        /* this is the same as grid-template-rows: 300px 300px; it will create 2 columns with minmax() calculating 
       automatically the size of the track, based on the width of the viewport,
        */
        /* auto-fit keyword allows us to wrap our columns into rows when there’s not enough space in our viewport to fit the 240px minimum value without overflowing the content. */
       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
    p.paragraph-text{
      margin-top: 5%;
      color: white;
      font-size: 20px;
    }
    
    .about-title{
      color: white;
      margin-top: 25%;
    }
    .hero5{ 
      margin-top: -22%;
    }
    h1.section-title.center-text{
      margin-top: 5%;
    }

  }
